<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <header><% include partials/template/navbar.ejs %></header>

  <body>

  <div class="container">

    <div class="text-center" style="text-align:center" id="titleImage">
      <img src="images/conshareto_blue_updated.png" width="650">
      <hr width="500">
      <p class="lead" id="lead1" style="font-size: 30px">FIND YOUR NEXT CONCERT HERE</p>
      <p class="lead" id="lead2" style="font-size: 22px">Search by zipcode.</p>
      <hr width="500">
    </div>

  </div><!-- /.container -->


    <% include partials/template/event.html %>
    <% include partials/template/attendEvent.html %>
    <% include partials/template/followEvent.html %>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
