<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
    <% include partials/template/header.ejs %>

    <section class="layout">
      <h1><%= title %></h1>
      <% if (user) { %>
      <h4> Welcome, <%= user.firstName %> </h4><a href="/logout">Logout</a>
      <% } else { %>
      <a href="/auth/google">Login with Google</a>
      <% } %>
    </section><!-- layout -->

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
    <% include partials/template/modal.ejs %>
  </body>
</html>
