<script type="text/template" id="event-template">

<div class="row divider">
   <div class="col-sm-12"><hr></div>

<div class="row" id="eventBlock">
  <div class="col-sm-9">
    <h2 class="page-header"><%%= event.Artists[0].Name %><small>&nbsp;&nbsp;&nbsp;Venue Name Here</small></h2>
    <h3><span class="label label-default" style="color:#4174b9">Date: 8888-88-88</span></h3>
    <br>
    <h4 class="text-muted">Time: 12:00pm&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary hover" id="btnModal" style="width: 150px">More Event Info</button></h5>
  </div>
  <div class="col-sm-3">
    <div class="pull-right" id="social_buttons" style="margin-top: 30px">
      <button type="button" class="btn btn-primary hover attend" data="<%%= event.Id %>" id="btnAttend">Attend Event</button>
      <hr>
      <button type="button" class="btn btn-secondary" id="btnFollow" style="width:110px">Follow</button>
    </div>
  </div>
</div>

</script>
