<footer>
  <section class="layout">
    <span id="happy">
      <button type="button" data-toggle="modal" data-target="#myHappyModal" class="btn" id="special"><span class="glyphicon glyphicon-music" aria-hidden="true">

      </span></button>
    </span>
  </section><!-- layout -->
</footer><!-- footer -->


<div class="modal fade" id="myHappyModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
    <div class="modal-content">


        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="stop-happy" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title" id="happy-modal" style="text-transform: uppercase"> Front-man TONY: </h3>
      </div>

      <div id="modal-pic" class="modal-body">
        <img src="http://101happybirthday.com/wp-content/uploads/2015/03/Happy-2BBirthday-2BMothaFucka-.jpg">
      </div>
    </div>
  </div>
</div>
