<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        <img src="/images/logo.jpg"
        alt="Conshareto Logo" width=200>
        </a>
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->

  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="icon-home"></i> Home</a></li>
        <li><a href="/events"><i class="icon-music"></i> My Concerts</a></li>
      </ul><!-- nav -->

    </section><!-- layout -->
  </div><!-- navigation -->

</header>
