<header>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- <div class="collapse navbar-collapse"> -->

      <div class="col-md-5">
        <ul class="nav navbar-nav">
          <li><a href="/"><img src="images/conshareto_final_white.png" width="150"></a></li>
          <li style="padding: 7px">
            <% if (user) { %>
              <h4 style="color: #4174b9"> Welcome, <%= user.firstName %> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout" style="font-size: 20px; color:white">Logout</a></h4>
            <% } else { %>
              <a href="/auth/google"><span style="font-size:16px">Login with&nbsp;<img src="images/google_logo.png" width="65"></span></a>
            <% } %>
          </li>
        </ul>
      </div>

      <!-- EXTRA BUTTON FOR TESTING -->
      <div class="row col-md-4" style="padding: 15px">
        <% if (user) { %>
          <button type="button" class="btn btn-primary" id="myAttendButton">
            Attending</button> &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" id="myFollowButton">Following</button> &nbsp;&nbsp;&nbsp;&nbsp;

        <% } %>
      </div>



      <!-- DROPDOWN SEARCH -->
      <div class="col-md-3 pull-right">
          <div class="input-group" style="padding: 10px">
              <input type="text" class="form-control" id="zip_search" placeholder="ENTER ZIPCODE - Dropdown to filter" />
              <div class="input-group-btn">
                  <div class="btn-group" role="group">
                      <div class="dropdown dropdown-lg">
                      <button type="button" class="btn btn-primary" id="event_search"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                          <div class="dropdown-menu dropdown-menu-right" style="padding:25px;">
                              <form class="form-horizontal form-large" role="form">
                                <div class="form-group">
                                  <label style="min-width: 250px">Filter by Radius (miles)</label>
                                  <select class="form-control" id="drop_radius">
                                      <option value="10" selected>Choose Distance</option>
                                      <option value="5">Within 5 Miles</option>
                                      <option value="10">Within 10 Miles</option>
                                      <option value="20">Within 20 Miles</option>
                                      <option value="50">Within 50 Miles</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="contain">Artist Name</label>
                                  <input class="form-control" id="artist_field" type="text" />
                                </div>
                                <div class="form-group">
                                  <label for="contain">Genre</label>
                                  <input class="form-control" id="genre_field" type="text" />
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg" id="filter_eventSearch"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>

</header>



