<header>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- <div class="collapse navbar-collapse"> -->

      <div class="col-md-4">
        <ul class="nav navbar-nav">
          <li><a href="#"><span style="font-size:24px">conshareto</span></a></li>
          <li><a href="#"><span style="font-size:16px">Register Here</span></a></li>
          <li><a href="/auth/google"><span style="font-size:16px">Login with&nbsp;<img src="images/google_logo.png" width="65"></span></a>
        </ul>
      </div>

      <div class="col-md-4">
        <% if (user) { %>
          <h4 style="color: #4174b9"> Welcome, <%= user.firstName %> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout" style="font-size: 20px; color:white">Logout</a></h4>
        <% } else { %>
          <a href="/auth/google">Login with Google</a>
        <% } %>
      </div><!-- layout -->

      <div class="col-md-4 pull-right">
        <div class="navbar-text">Search</div>

          <form class="navbar-form" role="search">

            <div class="input-group" id="nav-search">

              <input type="text" class="form-control" placeholder="Zipcode" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-info btn-md" type="submit"><i class="glyphicon glyphicon-music"></i></button>
                </div>

              <input type="text" class="form-control" placeholder="Distance" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-info btn-md" type="submit"><i class="glyphicon glyphicon-music"></i></button>
                </div>

            </div>

          </form>
      </div>

    <!-- </div> -->
  </div>

</header>



