body {
  background: url(https://i.imgur.com/reOFIeK.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-center h1 {
  background-image: url(https://i.imgur.com/0Kyu8ea.png); }

.lead {
  font-family: Gill Sans;
  color: white;
  margin-bottom: 0px;
}

#titleImage {
  margin-top: 100px;
}

#btnModal {
  width: 150px;
  background-image: url(https://i.imgur.com/UoE80hr.png);
  background-position: center;
}

#blockTop {
  position: center;
  background-image: url(https://i.imgur.com/6E94ROD.png) no-repeat;
}

.modal {
  background: rgba(000, 000, 000, 0.6);
  min-height:1000000px;
}
