

body {
  padding-top: 150px;
  background-image: url(https://i.imgur.com/reOFIeK.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family:'Open Sans',arial,sans-serif;
}

.text-center h1 {
  background-image: url(https://i.imgur.com/0Kyu8ea.png);
}

.lead {
  font-family: Arkhip;
  color: white;
}

.form-group {
  margin: 10px;
}

.dropdown-menu {
  min-width: 250px !important;
}

// event .html page

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url('http://images.huffingtonpost.com/2012-06-19-ASPTheRamonesCourtesyofIanDickson.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.divider {
  margin-top:10px;
}

#main {
    background-color: #ffffff;
    opacity: 0.75;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#eventBlock {
  border-radius: 10px;
}

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 0px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

#btnAttend {
  background-color: #4174b9;
  transition: all 0.3s ease 0s;
}
#special {
  background-color: black;
  transition: all 0.3s ease 0s;
}

#btnAttend:hover {
  background: #000000;
}

#btnFollow {
  background-image: url(https://i.imgur.com/NNtUD08.png);
  transition: all 0.3s ease 0s;
}

#btnFollow:hover {
  background: #000000;
  color: white;
}

#btnRevise {
  background-image: url(https://i.imgur.com/NNtUD08.png);
  color: #000000;
}

#btnRevise:hover {
  background: #ffffff;
}


