
<form method="GET" action="/search">
  <label for="zip">zip code</label>
  <input id="zip" type="text" name="distance[zip]" placeholder="zip code"/>
  <label for="radius">radius (miles)</label>
  <input id="radius" type="dropdown" name="distance[radius]" placeholder="miles"/>
  <input type="submit" value="Search" />
</form>
