
<form method="GET" action="/search">
  <label for="zip">zip code</label>
  <input id="zip" type="text" name="zip" placeholder="91101"/>
  <label for="radius">radius (miles)</label>
  <input id="radius" type="dropdown" name="radius" placeholder="10"/>
  <input type="submit" value="Search" />
</form>
